.style-override {
  background-image: linear-gradient(#ffffff, #f0f0f0);
  background-image: -webkit-linear-gradient(#ffffff, #f0f0f0);
  background-image: -moz-linear-gradient(#ffffff, #f0f0f0);
  margin-top: -2px;
  padding: 100px 0 40px!important;
  .section-job-list {
    .wrapper {
      h2.title {
        margin-top: 0;
      }
      .job-list {
        border: none;
        .job-title {
          p {
            font-size: unset;
          }
        }
        .job-area {
          p {
            font-size: unset;
          }
        }
        .job-date {
          p {
            font-size: unset;
          }
        }
        .job-card {
          border: none;
          &:nth-child(odd) {
            background: #eeeeee;
          }
          .job-title {
            a {
              font-size: unset;
            }
          }
          .job-area {
            border: none;
            p {
              font-size: unset;
            }
          }
          .job-date {
            p {
              font-size: unset;
              font-weight: 400;
            }
          }
        }
      }
    }
  }
}

@media #{$information-sm-laptop} {
  .style-override {
    .section-job-list {
      .wrapper {
        width: 992px;
        h2.title {
          margin-top: 0;
        }
        .job-list {
          border: none;
          .job-title {
            p {
              font-size: unset;
            }
          }
          .job-area {
            p {
              font-size: unset;
            }
          }
          .job-date {
            p {
              font-size: unset;
            }
          }
          .job-card {
            border: none;
            &:nth-child(odd) {
              background: #eeeeee;
            }
            .job-title {
              a {
                font-size: unset;
              }
            }
            .job-area {
              border: none;
              p {
                font-size: unset;
              }
            }
            .job-date {
              p {
                font-size: unset;
                font-weight: 400;
              }
            }
          }
        }
      }
    }
  }
}

@media #{$information-lg-tablet} {
  .style-override {
    .section-job-list {
      .wrapper {
        width: 90%;
        h2.title {
          margin-top: 0;
        }
        .job-list {
          border: none;
          .job-title {
            p {
              font-size: unset;
            }
          }
          .job-area {
            p {
              font-size: unset;
            }
          }
          .job-date {
            @include flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin-top: 0;
            p {
              font-size: unset;
              margin: 0 0 10px!important;
            }
            a {
              margin: 0!important;
            }
          }
          .job-card {
            border: none;
            &:nth-child(odd) {
              background: #eeeeee;
            }
            .job-title {
              a {
                font-size: unset;
              }
            }
            .job-area {
              border: none;
              p {
                font-size: unset;
              }
            }
            .job-date {
              p {
                font-size: unset;
                font-weight: 400;
              }
            }
          }
        }
      }
    }
  }
}

@media #{$information-phone} {
  .style-override {
    .section-job-list {
      .wrapper {
        width: 90%;
        h2.title {
          margin-top: 0;
        }
        .job-list {
          border: none;
          .job-title {
            p {
              font-size: unset;
            }
          }
          .job-area {
            p {
              font-size: unset;
            }
          }
          .job-date {
            margin-top: 20px;
            p {
              font-size: unset;
              margin: 0 0 10px!important;
            }
            a {
              margin: 0!important;
              width: 100%;
              text-align: center;
            }
          }
          .job-card {
            border: none;
            &:nth-child(odd) {
              background: #eeeeee;
            }
            .job-title {
              a {
                font-size: unset;
              }
            }
            .job-area {
              border: none;
              p {
                font-size: unset;
              }
            }
            .job-date {
              p {
                font-size: unset;
                font-weight: 400;
              }
            }
          }
        }
      }
    }
  }
}

.job-link {
  @include flex;
  justify-content: center;
  align-items: flex-start;
  padding: 10px 0;
  .icon {
    width: 36px;
  }
  .content {
    padding-top: 15px;
    margin-left: 8px;
    h5 {
      font-size: 24px;
      font-weight: 400;
      span {
        color: #046a38;
      }
    }
    p {
      font-size: 16px;
      font-weight: 300;
      a {
        color: #046a38;
        font-size: 19px;
        font-weight: 400;
        img {
          width: 22px;
          margin-left: 2px;
        }
      }
    }
  }
}

@media #{$information-sm-laptop} {
  .job-link {
    .icon {
      width: 32px;
    }
    .content {
      margin-left: 6px;
      h5 {
        font-size: 20px;
      }
      p {
        font-size: 14px;
        a {
          font-size: 15px;
          img {
            width: 18px;
          }
        }
      }
    }
  }
}

@media #{$information-lg-phone} {
  .job-link {
    .icon {
      width: 26px;
    }
    .content {
      text-align: center;
      margin-left: 6px;
      h5 {
        font-size: 15px;
      }
      p {
        font-size: 14px;
        a {
          display: block;
          font-size: 15px;
          img {
            width: 18px;
          }
        }
      }
    }
  }
}
